<meta charset="utf-8"/>
<title>webdevs - Deutschsprachige Slack Community für Webdesigner und Developer</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="stylesheet" href="{{assetsCss}}webdevs.css">
<link rel="shortcut icon" href="{{assetsCssImg}}system/favicon.png">
<link rel="icon" href="{{assetsCssImg}}system/favicon.png">
<meta name="description" content="Deutschsprachiger Slack Channel for Codeninjas, Pixelpusher, Webfanatics and API Preacher">
<meta property="og:title" content="Deutschsprachiger Slack Channel für Webdevs">
<meta property="og:site_name" content="Webdevs">
<meta property="og:url" content="http://webdevs.xyz/">
<meta property="og:description" content="Der deutschsprachige Slack Channel für
CodeNinjas, Pixelschubser, Serverjedis and API Preacher">
<meta property="og:type" content="website">
<meta property="og:image" content="http://webdevs.xyz/assets/img/webdevs.png">
<meta name="twitter:image:src" content="http://webdevs.xyz/assets/img/webdevs.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Deutschsprachiger Slack Channel für Webdevs">
<meta name="twitter:description" content="Der deutschsprachige Slack Channel für
CodeNinjas, Pixelschubser, Serverjedis and API Preacher">
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Montserrat:400,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
