{# layout.twig #}
<!DOCTYPE html>
<html>
  <head>
    {% include '../parts/site-header.twig' %}
  </head>
  <body class="center">
    <section class="start">
      {% block page %}{% endblock %}
    </section>
    {% include '../parts/site-scripts.twig' %}
  </body>
</html>
